<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EIE PROJECTS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             
                @Html.ActionLink("CreateAdmin", "CreateAdmin", "Admin", new { area = "" }, new { @class = "navbar-brand", @style = "color: white;" })

                @Html.ActionLink("Enrollment Page", "Enrolment", "Account", new { area = "" }, new { @class = "navbar-brand", @style = " color: white;" })

             
                 </div>
            <div class="tech-faq">
                @Html.ActionLink("Log Off", "Logout", "Admin", new { area = "" }, new { @class = "navbar-brand", @style = " color: white;" })

                @Html.ActionLink("View Students", "Student", "Admin", new { area = "" }, new { @class = "navbar-brand", @style = " color: white;" })

                @Html.ActionLink("View Admin", "AdminTable", "Admin", new { area = "" }, new { @class = "navbar-brand", @style = " color: white;" })






            </div>
            <div class="navbar-collapse collapse">
              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EIE PROJECTS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
