@model IEnumerable<eie_project.Models.UserAccount>
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="widget" id="print">
    
    <section>
        <table class="table table-striped " id="mytable">
            <thead>
                <tr>
                    <th> View </th>
                    <th> S/N </th>
                    <th> FirstName </th>
                    <th> LastName </th>
                    <th> Matric Number  </th>
                    <th>Level</th>
                    <th> Actions</th>

                </tr>
            </thead>
           
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @Html.ActionLink("View", "StudentDetail", new { id = item.UserID }, new { @class = "btn-style btn btn-info" }) </td>
                        <td> @item.UserID </td>
                        <td> @item.FirstName </td>
                        <td> @item.LastName </td>
                        <td> @item.MatricNumber </td>
                        <td> @item.Level </td>
                        <td> @Html.ActionLink("x", "DeleteUser", new { id = item.UserID }, new { @class = "btn-style btn btn-danger", onclick = "return confirm('Are you sure you want to delete this user?');" })   </td>

                    </tr>
                }
            </tbody>
        </table>
</section>

</div>

<hr />
<script type="text/javascript">
    $(document).ready(function () {
        $('#mytable').DataTable({
            select: true,
            searching: true,
            ordering: true
        });
    });

  
</script>


