@model eie_project.Models.UserAccount
@using System.Web.UI.WebControls
@{
    
    
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    
    //ViewBag.Title = "Enrolment";
}
<div class="col-lg-offset-4 col-lg-4">
<div id='container' class="width">
    

<h2 class="textAlign"><strong> ENROLL HERE</strong></h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Message != null)
        {
            <div class="fore-group">
                <div class="col-md-10">@ViewBag.Message</div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatricNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatricNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatricNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            LEVEL
            <div class="input-new input-group">
                <span class="input-group-addon"><i class="fa fa-circle-thin"></i></span>
                @{
    var listItems = new List<ListItem> { new ListItem { Text = "100", Value = "100" }, new ListItem { Text = "200", Value = "200" }, new ListItem { Text = "300", Value = "300" }, new ListItem { Text = "400", Value = "400" }, new ListItem { Text = "500", Value = "500" } };
                }
                @Html.DropDownListFor(model => model.Level, new SelectList(listItems), "-- Select Level --", new { @id = "int" })

            </div>
            @Html.ValidationMessageFor(model => model.Level)
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}
    </div>
<div>
    
</div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

